@model SignUpViewModel
@{ ViewBag.Title = "SignUp"; }



<div class="signup">
    <h3>Sign UP Here</h3>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control w-25" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control w-25"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control w-25"/>



            <span asp-validation-for="Password" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control w-25"/>
            <i class="far fa-eye" id="togglepassword"></i>
        </div>



        <button type="submit" class="btn btn-primary bg-primary">SignUp</button>
    </form>
</div>

